{% extends 'blog/base.html' %}

{% block content %}

       
{% if user.is_authenticated %}       
<a href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/edit.svg' %}
</a> 
{% endif %} 
    {% if post.published_date %}
    <div class="post-meta">
        <time class="post-date">{{post.published_date}}</time>
    </div>
    {% endif %}
    <h2 class="post-title">{{post.title}}</a></h2>
    <div class="post-content">
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
</article>
{% endblock %}